body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #CAD2C5;
}

.header{
    background-color: #52796F;
    padding: 1em;
}

.main {
    background-color: #84A98C;
}

.content {
    padding: 1em;
}

.side-bar {
    padding: 1em;
}

.clearfix {
    overflow: auto;
    zoom: 1;
  }

.footer {
    background-color: #52796F;
    padding: 1em;
}

@media(min-width: 800px) {
    .side-bar {
        float: left;
        width: 25%;
        padding: 1em;
    }
}